#pageContent {
    display: none;
    text-align: center;
    vertical-align: auto;
}

body {
    background-color: black;
    font-family: monospace;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-4/cur330.cur), auto !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

p.blink:hover {
    text-shadow: 0 0 20px #ffffff;
}

.pfp {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    float: left;
    margin-left: 25px;
    transition: transform .2s;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 16px;
}

.verified {
    width: 20px;
    height: 20px;
}

.pfp:hover {
    transform: scale(1.09);
}

.name {
    color: white;
    text-align: left;
    font-size: 25px;
    padding-left: 140px;
}

.rectangle {
    height: 220px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 16px;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.53);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding-right: 60px;
    padding-left: 60px;
    transition: .8s ease;
    margin-top: 10%;
}

.rectangle2 { 
    height: 300px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 16px;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.53);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding-right: 60px;
    padding-left: 60px;
    transition: .8s ease;
}

.rectangle:hover, .rectangle2:hover {
    outline: none;
    border-color: #a1a3a3;
    box-shadow: 0 0 10px #545454;
    transform: scale(1.05);
    transition: .8s ease;
}

#sourceDiv {
    display: none;
}

.main {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

.blink {
    color: #fff;
    text-align: center;
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -moz-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
    }
}

.white {
    fill: rgb(255, 255, 255);
}

.blue {
    fill: rgb(24, 90, 214);
}

.orange {
    fill: rgb(191, 151, 20);
}

.showbutton {
    display: inline;
    justify-content: center;
    position: relative;
    vertical-align: middle;
}

.see {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    border-radius: 15px;
    transition: .8s ease;
}

.see:hover {
    transition: .8s ease;
    outline: none;
    border-color: #a1a3a3;
    box-shadow: 0 0 10px #545454;
}